<img style="width:100%;" id="image" src="assets/main_image.svg">
<div nxLayout="grid" class="nx-margin-bottom-m nx-margin-top-m">
  <div nxRow>
    <div nxCol="12" style="text-align: center;">
      <h3 nxHeadline="subsection-large" class="nx-font-weight-bold">คุณกำลังมองหาผลิตภัณฑ์ชนิดไหน?</h3>
    </div>
  </div>
  <div nxRow class="nx-margin-top-m">
    <div nxCol="12" style="text-align: center;">
      <nx-circle-toggle checked="false" icon="product-person" label="คู่ชีวิต" value="a">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-health" label="สุขภาพ" value="b">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-car-small" label="รถยนต์" value="c">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-health-stethoscope" label="โรคร้าย" value="d">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-injury-plaster" label="อุบัติเหตุ" value="f">
      </nx-circle-toggle>
    </div>
  </div>
  <div nxRow class="nx-margin-top-2m">
    <div nxCol="12" style="text-align: center;">
      <nx-circle-toggle checked="false" icon="product-house" label="ที่อยู่อาศัย" value="h">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-plane" label="เดินทาง" value="i">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-save" label="ออมทรัพย์" value="j">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-pension-rocker-chair" label="เกษียณอายุ" value="k">
      </nx-circle-toggle>
      <nx-circle-toggle checked="false" icon="product-share-graph-arrow-up" label="ลงทุน" value="l">
      </nx-circle-toggle>
    </div>
  </div>
</div>
<div style="background-color: #CFE9EE;">
  <div nxLayout="grid">
    <div nxRow>
      <div nxCol="12" class="nx-margin-bottom-m nx-margin-top-m">
      </div>
    </div>
    <div nxRow>
      <div nxCol="12" style="text-align: center;">
        <h3 nxHeadline="subsection-large" class="nx-font-weight-bold">ทำไมถึงต้องเลือก อลิอันซ์ อยุธยา</h3>
      </div>
    </div>
    <div nxRow>
      <div nxCol="12" class="nx-margin-bottom-m nx-margin-top-m">
      </div>
    </div>
  </div>
  <div nxLayout="grid">
    <div nxRow rowJustify="start,start,around">
      <div nxCol="1"></div>
      <div nxCol="3">
        <nx-card style="text-align: center;" class="card">
          <nx-icon class="nx-margin-top-s" name="product-world-globe" size="m"></nx-icon>
          <nx-card-header>
            <h4 nxHeadline="subsection-xsmall" class="nx-margin-bottom-2m nx-margin-top-2m">
                ลูกค้าเป็นศูนย์กลางอย่างแท้จริง
            </h4>
          </nx-card-header>
          <p nxCopytext="normal">
            เรามุ่งมั่นพัฒนาผลิตภัณฑ์ บริการ และขั้นตอนการทำงาน โดยใส่ใจความต้องการของลูกค้า
          </p>
        </nx-card>
      </div>
      <div nxCol="3">
        <nx-card style="text-align: center;" class="card">
            <nx-icon class="nx-margin-top-s" name="product-cloud" size="m"></nx-icon>
            <nx-card-header>
              <h4 nxHeadline="subsection-xsmall" class="nx-margin-bottom-2m nx-margin-top-2m">
                ครอบคลุม
              </h4>
            </nx-card-header>
            <p nxCopytext="normal">
                เรามีผลิตภัณฑ์ที่ครบถ้วน ทั้งประกันชีวิต ประกันสุขภาพ ประกันเพื่อการออม ประกันภัยรถยนต์ ประกันภัยที่อยู่อาศัย ฯลฯ เพื่อตอบสนองทุกๆไลฟ์สไตล์
            </p>
          </nx-card>
      </div>
      <div nxCol="3">
        <nx-card style="text-align: center;" class="card">
            <nx-icon class="nx-margin-top-s" name="product-heart" size="m"></nx-icon>
            <nx-card-header>
              <h4 nxHeadline="subsection-xsmall" class="nx-margin-bottom-2m nx-margin-top-2m">
                จริงใจ
              </h4>
            </nx-card-header>
            <p nxCopytext="normal">
                อลิอันซ์ อยุธยา เป็นประกันที่กล้าบอกเงื่อนไข ทำให้เรื่องประกันให้เป็นเรื่องที่เข้าใจง่าย ตรงไปตรงมา ไม่ซับซ้อน
            </p>
          </nx-card>
      </div>
      <div nxCol="1"></div>
    </div>
    <div nxRow>
      <div nxCol="12" class="nx-margin-bottom-m nx-margin-top-m">
      </div>
    </div>
  </div>
</div>
<div nxLayout="grid" class="nx-margin-top-m">
    <div nxRow>
        <div nxCol="12" style="text-align: center;">
            <h3 nxHeadline="subsection-large" class="nx-font-weight-bold">ติดต่อตัวแทน</h3>
        </div>
    </div>
    <div nxRow class="nx-margin-top-m">
        <div nxCol="2">
        </div>
        <div nxCol="10">
            <nx-radio-group name="myGroup">
                <div class="horizontal-buttons">
                    <nx-label class="nx-margin-bottom-m">เวลาสะดวกให้เราติดต่อ (ไม่บังคับ)</nx-label>
                    <nx-radio nxValue="1" class="nx-margin-left-m nx-margin-right-m">09:00 - 12:00</nx-radio>
                    <nx-radio nxValue="2">12:00 - 15:00</nx-radio>
                    <nx-radio nxValue="3" class="nx-margin-left-m">15:00 - 18:00</nx-radio>
                </div>
            </nx-radio-group>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow class="nx-margin-top-m">
        <div nxCol="2">
        </div>
        <div nxCol="2">
            <nx-formfield label="คำนำหน้าชื่อ">
                <nx-dropdown>
                    <nx-dropdown-item
                        *ngFor="let brand of options"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
        </div>
        <div nxCol="3">
            <nx-formfield
                label="ชื่อ"
                appearance="outline"
                floatLabel="always"
            >
                <input
                    required
                    nxInput
                    [(ngModel)]="valueError"
                    #exampleErrorNgModel="nxInput"
                />
                <nx-error appearance="text" nxFormfieldError>
                    กรุณาใส่ชื่อ
                </nx-error>
            </nx-formfield>
        </div>
        <div nxCol="3">
            <nx-formfield
                label="นามสกุล"
                appearance="outline"
                floatLabel="always"
            >
                <input
                    required
                    nxInput
                    [(ngModel)]="valueError"
                    #exampleErrorNgModel="nxInput"
                />
                <nx-error appearance="text" nxFormfieldError>
                    กรุณาใส่นามสกุล
                </nx-error>
            </nx-formfield>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="2">
        </div>
        <div nxCol="4">
            <nx-formfield
            label="เบอร์ติดต่อ"
            appearance="outline"
            floatLabel="always"
        >
            <input
                required
                nxInput
                [(ngModel)]="valueError"
                #exampleErrorNgModel="nxInput"
            />
            <nx-error appearance="text" nxFormfieldError>
                กรุณาใส่เบอร์ติดต่อ
            </nx-error>
        </nx-formfield>
        </div>
        <div nxCol="4">
            <nx-formfield
            label="อีเมล"
            appearance="outline"
            floatLabel="always"
        >
            <input
                required
                nxInput
                [(ngModel)]="valueError"
                #exampleErrorNgModel="nxInput"
            />
            <nx-error appearance="text" nxFormfieldError>
                กรุณาใส่อีเมล
            </nx-error>
        </nx-formfield>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="2">
        </div>
        <div nxCol="2">
            <nx-formfield
            label="อายุ"
            appearance="outline"
            floatLabel="always"
        >
            <input
                required
                nxInput
                [(ngModel)]="valueError"
                #exampleErrorNgModel="nxInput"
            />
            <nx-error appearance="text" nxFormfieldError>
                กรุณาใส่อายุ
            </nx-error>
        </nx-formfield>
        </div>
        <div nxCol="2">
            <nx-formfield label="เพศ (ไม่บังคับ)">
                <nx-dropdown>
                    <nx-dropdown-item
                        *ngFor="let brand of genders"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
        </div>
        <div nxCol="4">
            <nx-formfield label="จังหวัด (ไม่บังคับ)">
                <nx-dropdown>
                    <nx-dropdown-item
                        *ngFor="let brand of provinces"
                        [value]="brand"
                    ></nx-dropdown-item>
                </nx-dropdown>
            </nx-formfield>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="2">
        </div>
        <div nxCol="2" style="display: flex; align-items: center;">
            <nx-checkbox class="nx-margin-bottom-s">เป็นลูกค้าอลิอันซ์ อยุธยา</nx-checkbox>
        </div>
        <div nxCol="6">
            <nx-formfield
            label="หมายเลขกรมธรรม์ (ไม่บังคับ)"
            appearance="outline"
            floatLabel="always"
        >
            <input
                nxInput
            />
        </nx-formfield>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="2">
        </div>
        <div nxCol="8">
            <nx-formfield
            label="หมายเหตุ (ไม่บังคับ)"
            appearance="outline"
            floatLabel="always"
        >
            <input
                nxInput
                [value]="'สนใจประกันสุขภาพ'"
            />
        </nx-formfield>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="2">
        </div>
        <div nxCol="8" style="display: flex; align-items: center;">
            <nx-checkbox class="nx-margin-top-s">ข้าพเจ้ายินยอมให้บริษัทเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้าเพื่อการติดต่อนำเสนอผลิตภัณฑ์หรือ บริการต่างๆ ข่าวสาร หรือการประชาสัมพันธ์หรือวิเคราะห์ทางการตลาด และได้รับทราบ คำชี้แจงเกี่ยวกับข้อมูลส่วนบุคคลแล้ว</nx-checkbox>
        </div>
        <div nxCol="1">
        </div>
    </div>
    <div nxRow>
        <div nxCol="12" style="text-align: center;">
            <button class="nx-margin-top-l nx-margin-bottom-xl" nxButton="primary" type="button">ส่งข้อมูล</button>
        </div>
    </div>
  </div>