<hr style="background-color: #D9D9D9;">
<nx-footer class="bottom-footer">
  <nx-footer-copyright> &copy; Allianz
    2023
  </nx-footer-copyright>
  <nx-footer-navigation>
    <nx-footer-link> <a routerLink="./">คำชี้แจงเกี่ยวกับข้อมูลส่วนบุคคล</a> </nx-footer-link>
    <nx-footer-link> <a routerLink="./">คำสงวน</a> </nx-footer-link>
    <nx-footer-link> <a routerLink="./">ติดต่อเรา</a> </nx-footer-link>
    <nx-footer-link> <a routerLink="./">ความปลอดภัย</a> </nx-footer-link>
    <div style="position: absolute; right: 32px; display:flex">
        <nx-icon aria-hidden="true" name="phone-o" size="s" nxIconPositionStart></nx-icon><span class="nx-margin-left-xs">สายด่วน <b>+66 2 123 4567</b></span>
    </div>
    
  </nx-footer-navigation>
</nx-footer>