registry=https://nexus-itmp-agcs.devops-services.ec1.aws.aztec.cloud.allianz/repository/npm-public/
email=ain-itops-ads-team@allianz.com
always-auth=true
legacy-peer-deps=true
//nexus-itmp-agcs.devops-services.ec1.aws.aztec.cloud.allianz/repository/npm-public/:_auth="bmV4dXMtZGVwbG95ZXI6bmV4dXMtZGVwbG95ZXI="
strict-ssl=false
